$primary-color: #444d56;
$secondary-color: #ff7575;
$light-color-font: #ffeeee;
$dark-color-font: #282828;
$primary-color-darker: #1d2023;
$text-shadow-props-dark: 0px 0px 11px rgba(0,0,0,1);
$text-shadow-props-light:0px 0px 11px rgb(255, 255, 255);